<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
				<% @posts.each do |post| %>
					<div class="panel panel-primary">
			      <div class="panel-heading">
			        <h3 class="panel-title"><%= post.title %></h3>
			      </div>
			      <div class="panel-body">
			    		<%# post.body.first(250) %>
			    		<%= truncate(post.body, :length => 250) %>
			      </div>
			      <div class="text-right fixed-bottom">
			        Fecha Creado: <strong><%= post.created_at.strftime("%d-%m-%Y %H:%M:%S") %></strong>
			        <br>
			        Creado Por: <strong><%= post.user.email  %></strong>
			        <br>
			        <% if current_user != nil %>
				        <% if post.user_id == current_user.id %>
					        <%# link_to "#" do %>
					          <!-- <span class="glyphicon glyphicon-edit"></span> -->
					          <!-- Editar -->
					        <%# end %>
					          <%# link_to "#" do %>
					          <!-- <span class="glyphicon glyphicon-remove"></span>
					          Eliminar -->
					        <%# end %>
					        <%= link_to "<span class='glyphicon glyphicon-edit'><span>".html_safe, edit_post_path(post) %>
					        |
					     		<%# link_to "<span class='glyphicon glyphicon-remove'><span>".html_safe, edit_post_path(post) %>
					     		<%= link_to "<span class='glyphicon glyphicon-remove'><span>".html_safe, post_path(post), method: :delete, data: { confirm: 'Estados seguro ?' } %>	
					      <% else %>
					      	<span class="label label-danger">Sin acciones sobre este post.</span>	
					      <% end %>
					    <% else %>
					    	<span class="label label-danger">Debes Ingresar para ver las opciones.</span>		  
					    <% end %>  
			      	<br>
			        <strong><%= link_to "Ver Mas", post_path(post) %></strong><br>
			      </div>
					</div>
				<% end %>		
		</div>
	</div>
</div>
	